**/.DS_Store
.DS_Store
secrets.yaml
atoms3/.DS_Store
atoms3/.gitignore
.esphome
__pycache__
clim-chambre-awox.yaml
.github/.DS_Store
test.yaml
snapshot.sh
components/cn105/.DS_Store
.venv/*
CDC-DUAL-MODE-AUTO-HEAT-COOL.md
